// MIXINS
@mixin transition($time: .4s) {
	transition: all $time ease-in;
}

@mixin lineBottom {
	display: block;
	content: "";
	width: 5rem;
	height: 0.2rem;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translateX(-50%);
}

// COLOR VARIABLES
$white: #ffffff;
$green: #54d154;
$dgreen: #2b9b2b;
$vdgreen: #207b20;
$lgray: #f2f1f1;
$dgray: #dddcdc;
$lblack: #333333;
$dblack: #222222;
$black: #111111;

// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans+Condensed:300');

$html-fs: 10px;

$base-ff: 'Open Sans Condensed', sans-serif; // 300
$base-fs: 1.9rem;
$base-fw: 300;
$base-lh: 3.4rem;
$base-tc: #444444;

$second-ff: 'Montserrat', sans-serif; // 300, 400, 700
$second-fw: 400;
$second-fwl: 300;
$second-fwb: 700;

$menu-fs: 2rem;
$button-fs: 2.2rem;
$xl-fs: 5.5rem;
$l-fs: 2.4rem;
$m-fs: 2.1rem;
$s-fs: 1.4rem;


// BASE FONT & SIZES
html {
	font-size: $html-fs;
}

body {
    font-family: $base-ff;
    font-size: $base-fs;
    font-weight: $base-fw;
	line-height: $base-lh;
    color: $base-tc;
    background-color: $white;
}


// BASE BG COLORS
.bgGreen {
	background-color: $green;
}

.bgDgreen {
	background-color: $dgreen;
}

.bgLgray {
	background-color: $lgray;
}

.bgDgray {
	background-color: $dgray;
}

.bgLblack {
	background-color: $lblack;
}

.bgDblack {
	background-color: $dblack;
}

.bgBlack {
	background-color: $black;
}


// HEADINGS
h1, h2, h3, h4 {
	font-family: $second-ff;
	margin-top: 0;
}

.isXLarge {
    font-size: $xl-fs;
}

.isLarge {
    font-size: $l-fs;
}

.isMedium {
    font-size: $m-fs;
}

.isSmall {
    font-size: $s-fs;
}

.isTitle {
	font-size: $m-fs;
	font-weight: $second-fwl;
	text-transform: uppercase;
	margin-bottom: 4rem;
	position: relative;
	text-align: center;
	
	&::after {
		@include lineBottom();
	}
}


// BUTTONS
.btn {
	padding: 1rem 1.5rem;
	font-size: $s-fs;
	font-family: $second-ff;
	font-weight: $second-fwb;
	text-align: center;
	border: 0;
	border-radius: 8px;
	text-transform: uppercase;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
	@include transition();

	&.green {
		background-color: $green;
		color: $lgray;

		&:hover {
			background-color: $dgreen;
			color: $white;
		}
	}

	&.dgreen {
		background-color: $dgreen;
		color: $lgray;

		&:hover {
			background-color: $green;
			color: $white;
		}
	}

	&.gray {
		background-color: $dgray;
		color: $lblack;

		&:hover {
			background-color: $white;
			color: $black;
		}
	}

	&.white {
		background-color: $white;
		color: $dgreen;

		&:hover {
			background-color: $dgreen;
			color: $white;
		}
	}
}

// LOGO & NAV
.navbar-default {
	background-color: $green;
	border-color: $white;

	.navbar-brand {
		color: $white;
		font-size: $m-fs;
		font-family: $second-ff;
		font-weight: $second-fwb;
		padding-top: 2rem;
		padding-bottom: 2rem;

		&:hover {
		  color: $dgreen;
		}
	}

	.navbar-nav {
		> li > a {
			color: $lgray;
			font-size: $menu-fs;
			padding-top: 2rem;
			padding-bottom: 2rem;
			@include transition();

			&:hover {
			color: $white;
			background-color: $dgreen;
			}
		}

		> .active > a {
			&,
			&:hover {
			color: $white;
			background-color: $dgreen;
			}
		}

		[class*="ion"] {
			padding-right: .7rem;
		}
	}

	.navbar-toggle {
	    border-color: $white;
	    color: $lgray;
	    font-size: 2.6rem;
	    text-align: center;
	    background-color: $dgreen;
	    @include transition();

	    &:hover {
	    background-color: $dgreen;
	    }

	    i {
	    	padding: 0 0.5rem;
	    }
	}

	.navbar-nav {
		> .open > a {
		  &,
		  &:hover,
		  &:focus {
		    background-color: $dgreen;
		    color: $white;
		  }
    	}

    	.open .dropdown-menu {
			> li > a {
				color: $white;
				font-size: 1.8rem;
				padding: 2rem 0;
				text-align: center;
				@include transition();

				&:hover,
				&:focus {
				color: $white;
				background-color: $green;
				}
			}
		}
    }

	.open .dropdown-menu {
		.divider {
			background-color: $lgray;
		}

		> li > a {
			color: $white;
			font-size: 1.8rem;
			@include transition();

			&:hover,
			&:focus {
			color: $white;
			background-color: $green;
			}
		}

		> .active > a {
			&,
			&:hover,
			&:focus {
			color: $white;
			background-color: $green;
			}
		}
	}

	.navbar-collapse {
		text-align: center;
	}
}

.dropdown-menu {
	background-color: $dgreen;
	border: 1px solid $dgreen;

	> li > a {
	padding: 5px 20px;
	color: $lgray;
	}
}

// GENERAL
section {
	padding: 3rem 0;
}

.agd {
	background: url(https://images.pexels.com/photos/298926/woman-kitchen-man-everyday-life-298926.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center center / cover;
}

.rtv {
	background: url(https://images.pexels.com/photos/279719/pexels-photo-279719.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center center / cover;
}

.audio {
	background: url(https://images.pexels.com/photos/1591/technology-music-sound-things.jpg?w=1260&h=750&auto=compress&cs=tinysrgb) center center / cover;
}

.network {
	background: url(https://images.pexels.com/photos/159304/network-cable-ethernet-computer-159304.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center center / cover;
}

.computer {
	background: url(https://images.pexels.com/photos/265127/pexels-photo-265127.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center center / cover;
}

.nav > li > a:focus, .nav > li > a:hover {
	background-color: transparent;
}

.modal {
	.modal-title {
		color: $white;
	}

	[class*="ion-close-"] {
		color: $white;
		font-size: 2.5rem;
	}

	.modal-foto {
		display: block;
		width: 100%;
		height: 30rem;
		margin-bottom: 1.5rem;
		object-fit: cover;
	}

	.modal-body {
		.btn {
			padding: 0.5rem 1rem;
			margin: 0 0.5rem;
		}
		
		i {
			font-size: 2.5rem;
		}
	}
}


// HTML
body{
    position: relative;
    padding-top: 62px;
}

.Home {
	padding: 0;

	.carousel-inner {
		height: 60rem;
	}

	.item {
		height: 100%;
	}

	.carousel-control {
		@include transition();
	}

	[class*="ion-"] {
		position: absolute;
	    top: 50%;
	    font-size: 5rem;
	    transform: translateY(-50%);
	}

	.carousel-indicators {
		li {
			width:  2.5rem;
			height: 2.5rem;
			margin: 0 1rem;
			background-color: $green;
			border: 2px solid $lgray;
			border-radius: 50%;
			@include transition();

			&:hover {
				background-color: $dgreen;
			}

			&.active {
				background-color: $dgreen;
				border: 2px solid $white;
			}
		}
	}

	.carousel-caption {
		background-color: rgba(51, 51, 51, .5);
		bottom: 10rem;
	}

	h2 {
		text-transform: uppercase;
	}

	p {
		font-size: 3rem;
		margin-bottom: 2rem;
	}
}

.About {
	h2 {
		color: $lgray;
		font-weight: $second-fwl;

		&::after {
			background-color: $lgray;
		}
	}

	p {
		color: $white;
		padding: 0 0 2rem;
	}

	.tooltip-inner {
		background-color: $white;
		color: $dgreen;
		font-size: $s-fs;
		padding: 1rem;
	}

	.accordion {
		margin-top: 3rem;

		.panel-heading {
			background-color: $dgreen;
			color: $white;
			padding: 0;
			border: 0;
		}

		.panel-title {
			font-size: $m-fs;
			padding: 1.5rem;
		}

		.panel-body {
			background-color: $lgray;
		}
	}
}

.Products {
	h2 {
		color: $lblack;
		font-weight: $second-fwl;

		&::after {
			background-color: $lblack;
		}
	}

	.thumbnail {
		@include transition();

		&:hover {
			border: 1px solid $dgreen;
		}

		img {
			display: block;
			width: 100%;
			height: 20rem;
			margin-bottom: 1.5rem;
			object-fit: cover;
		}
	}
}

.Support {
	h2 {
		color: $vdgreen;
		font-weight: $second-fwl;

		&::after {
			background-color: $vdgreen;
		}
	}

	p {
		color: $lblack;
		padding: 1rem 0;
	}

	.nav-tabs {
		border-bottom: 1px solid $lgray;

		li {
			float: left;
			margin-bottom: -2px;
			margin-right: 2px;
			background-color: $lgray;
			width: calc(25% - 2px);
			text-align: center;
			border-radius: 5px 5px 0 0;
			@include transition();

			&:last-of-type {
				margin-right: 0;
				width: 25%;
			}

			&:hover {
				background-color: $white;	

				a {
					color: $dgreen;
				}
			}
		
			a {
				margin-right: 0;
				color: $lblack;
				border: 0;
				border-radius: 0;
				background-color: transparent;

				&:hover {
				border-color: transparent;
				}
			}

			&.active {
				background-color: $white;	
				color: $green;

				> a {
					background: transparent;

					&,
					&:hover,
					&:focus {
					color: $dgreen;
					background-color: transparent;
					border: 0;
					border-bottom-color: transparent;
					cursor: default;
					}
				}
			}	
		}	
	}
}

.Contact {
	h2 {
		color: $lgray;
		font-weight: $second-fwl;

		&::after {
			background-color: $lgray;
		}
	}

	.form-group {
		display: flex;
		align-items: center;
	}

	.control-label {
		font-family: $second-ff;
		font-weight: $second-fw;
		font-size: 1.5rem;
		color: $lgray;
	}

	.active {
		background-color: $dgreen;
	}

	[type="submit"] {
		float: right;
		margin-top: 1rem;
	}

	.embed-responsive-map {
		padding-top: 200px;
		margin-bottom: 1rem;
	}

	address {
		color: $lgray;
	}
}

.Footer {
	padding: 1rem 0;

	.row {
		display: flex;
		align-items: center;
	}

	p {
		color: $lgray;
		margin: 0;
		padding: 0;
	}

	.social {
		margin: 0;
		padding: 0 1rem;
		float: right;
		background-color: $lgray;
		border-radius: 8px;

		a {
			font-size: 3rem;
			color: $lblack;
			@include transition();

			&:hover {
				color: $dgreen;
			}
		}
	}
}


@media (max-width: 767px) {
	.btn {
		font-size: 1.4rem;
		padding: 1rem;
	}

	.isXLarge {
		font-size: 2.8rem;
	}

	.Home {
		.carousel-inner {
			height: 40rem;
		}

		p {
			font-size: 1.8rem;
		}

		.carousel-control {
			width: 10%;

			&.left {
				text-align: left;
				padding-left: 1rem;
			}

			&.right {
				text-align: center;
				padding-right: 1rem;
			}
		}

		[class*="ion-"] {
		    font-size: 2rem;
		}
	}

	.About {
		p {
			padding: 0 2rem;
		}
	}

	.Support {
		.support-desc {
			padding: 0 1.5rem;
		}
	}

	.Contact {
		.form-group {
			display: block;
		}

		form {
			margin-bottom: 3rem;
		}

		label.btn {
			font-size: 1rem;
		}
	}

	.Footer {
		.row {
			display: block;
		}

		p {
			margin-bottom: 1rem;
			text-align: center;
		}

		.social {
			float: none;
			width: 60%;
			margin: 0 auto;
			padding: 0;

			li {
				display: inline-block;
				float: none;
				text-align: center;
				width: 31%;
			}
		}
	}
}